# Base de datos MongoDB
MONGODB_URI=mongodb://localhost:27017/monitor-energia

# Auth.js
NEXTAUTH_SECRET=tu-secreto-super-seguro-aqui
NEXTAUTH_URL=http://localhost:3000

# Puerto del servidor
PORT=5000
